In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda3\envs\py27\lib\site-packages\IPython\core\magics\pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [2]:
data = pd.read_csv('orange_small_churn_data.txt', sep=',')
labels = pd.read_csv('orange_small_churn_labels.txt', header=None)

In [3]:
counts = pd.value_counts(labels[0])
print "отток: ", str(100.*counts[1]/(counts[1]+counts[-1])) + "%"
print "не отток: ", str(100.*counts[-1]/(counts[1]+counts[-1])) + "%"

отток:  7.44%
не отток:  92.56%

In [4]:
full_data = data
full_data['labels'] = labels
full_data.to_csv("Train_full.csv", index = False)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(data,labels, test_size=0.25, random_state=7)

In [7]:
counts = pd.value_counts(y_train[0])
print "отток: ", str(100.*counts[1]/(counts[1]+counts[-1])) + "%"
print "не отток: ", str(100.*counts[-1]/(counts[1]+counts[-1])) + "%"

отток:  7.43333333333%
не отток:  92.5666666667%

In [8]:
counts = pd.value_counts(y_test[0])
print "отток: ", str(100.*counts[1]/(counts[1]+counts[-1])) + "%"
print "не отток: ", str(100.*counts[-1]/(counts[1]+counts[-1])) + "%"

отток:  7.46%
не отток:  92.54%

In [9]:
X_train['labels']= y_train

C:\ProgramData\Anaconda3\envs\py27\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
X_test['labels']= y_test

C:\ProgramData\Anaconda3\envs\py27\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
X_test.to_csv("Hold-out Dataset.csv",index = False)
X_train.to_csv("Train.csv", index = False)

In [12]:
data_test = pd.read_csv('Hold-out Dataset.csv', sep=',')

In [13]:
data_test.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230,labels
0,NaN,NaN,NaN,NaN,NaN,4634.0,7.0,NaN,NaN,NaN,...,QqVuch3,LM8l689qOp,NaN,kG3k,5Acm,02N6s8f,xwM2aC7IdeMC0,NaN,NaN,-1
1,NaN,NaN,NaN,NaN,NaN,966.0,7.0,NaN,NaN,NaN,...,3B1QowC,LM8l689qOp,NaN,NaN,Qu4f,RAYp,F2FyR07IdsN7I,NaN,NaN,-1
2,NaN,NaN,NaN,NaN,NaN,259.0,0.0,NaN,NaN,NaN,...,Dp9ED8N,LM8l689qOp,NaN,NaN,uWr3,RAYp,F2FyR07IdsN7I,NaN,NaN,1
3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NnYzgmc,NaN,NaN,NaN,Qu4f,RAYp,F2FyR07IdsN7I,NaN,NaN,-1
4,NaN,NaN,NaN,NaN,NaN,154.0,0.0,NaN,NaN,NaN,...,_aspRtK,LM8l689qOp,NaN,NaN,Qcbd,RAYp,F2FyR07IdsN7I,NaN,NaN,-1

In [14]:
data_train = pd.read_csv('Train.csv', sep=',')
data_train.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230,labels
0,NaN,NaN,NaN,NaN,NaN,1176.0,7.0,NaN,NaN,NaN,...,VjJAgOW,LM8l689qOp,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN,-1
1,NaN,NaN,NaN,NaN,NaN,1813.0,14.0,NaN,NaN,NaN,...,catzS2D,LM8l689qOp,NaN,ELof,3Cy4,ZI9m,ib5G6X1eUxUn6,mj86,NaN,-1
2,NaN,NaN,NaN,NaN,NaN,777.0,7.0,NaN,NaN,NaN,...,jjOYyXX,LM8l689qOp,NaN,NaN,Qu4f,RAYp,F2FyR07IdsN7I,NaN,NaN,-1
3,NaN,NaN,NaN,NaN,NaN,1554.0,7.0,NaN,NaN,NaN,...,MHP8mHO,LM8l689qOp,NaN,ELof,7P5s,nIGXDli,F2FyR07IdsN7I,mj86,NaN,1
4,NaN,NaN,NaN,NaN,NaN,980.0,0.0,NaN,NaN,NaN,...,C6OGkwT,LM8l689qOp,NaN,NaN,Xa3G,02N6s8f,xwM2aC7IdeMC0,NaN,NaN,-1